@{
    Layout = "~/Areas/" + ChatModule.SampleAreaRegistration.ModuleName + "/Views/Shared/Site.cshtml";
    ViewBag.Title = "Settings".Localize();
}
<p>
    The module configuration file has been generated.
</p>
